<%= form_with(model: [@room, @topic, message], data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <% if @topic.name == 'Shoutouts' %>
      <a target="_blank" href='https://federate.f5.com/f5-w-68747470733a2f2f696e7472616e65742d617070732e66356e65742e636f6d$$/Recognition/shout-out' class='btn'>
        <i class='fas fa-trophy'></i> F5 Shoutout
      </a>
    <% end %>
    <%= form.button type: :submit, class: 'btn' do %>
      <i class='fas fa-plus'></i> Comment
    <% end %>
  </div>

<% end %>
