<%= turbo_frame_tag(dom_id(message)) do %>
  <div class='message speech-bubble'>
    <div class='delete'>
      <%= button_to room_topic_message_path(message.topic.room, message.topic, message), method: :delete, class: "btn btn-red" do %>
        <i class='fas fa-times'></i>
      <% end %>
    </div>

    <div class='actions'>
      <%= link_to edit_room_topic_message_path(message.topic.room, message.topic, message), class: "btn btn-green" do %>
        <i class='fas fa-edit'></i>
      <% end %>

      <%= button_to room_topic_message_like_path(message.topic.room, message.topic, message), class: "btn btn-like" do %>
        <i class='fas fa-inverse fa-thumbs-up'></i>
        <%= message.likes || 0 %>
      <% end %>
    </div>



    <div class='content'>
      <%= message.body %>
    </div>



  </div>
<% end %>