<%= turbo_frame_tag 'reactions' do %>
  <section id='icons'>
    <%= button_to room_reaction_path(room), method: :post, params: {reaction: :dislike} do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-angry fa-inverse fa-stack-1x"></i>
        <span class="fa-layers-counter fa-layers-bottom-right fa-2x">
          <%= room.dislikes || 0 %>
        </span>
      </span>
    <% end %>

    <%= button_to room_reaction_path(room), method: :post, params: {reaction: :meh} do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-meh fa-inverse fa-stack-1x"></i>
        <span class="fa-layers-counter fa-layers-bottom-right fa-2x">
          <%= room.mehs || 0 %>
        </span>
      </span>
    <% end %>

    <%= button_to room_reaction_path(room), method: :post, params: {reaction: :like} do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-grin fa-inverse fa-stack-1x"></i>
        <span class="fa-layers-counter fa-layers-bottom-right fa-2x">
          <%= room.likes || 0 %>
        </span>
      </span>
    <% end %>

  </section>
<% end %>