<p id="notice"><%= notice %></p>

<div id="room-head">
  <%= link_to new_room_path, class: "btn", style: "padding-right: 5px;" do %>
    <i class='fas fa-plus'></i> New Retro
  <% end %>
</div>

<div id='room-body'>
  <% @rooms.each do |room| %>
    <div class='room'>
      <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red" do %>
        <i class='fas fa-times'></i>
      <% end %>

      <%= link_to edit_room_path(room), class: "btn" do %>
        <i class='fas fa-edit'></i>
      <% end %>

      <%= link_to room.name, room, class: "room-name" %>
    </div>
  <% end %>
</div>