<%= turbo_stream_from @room %>

<section class='title'>
  <h1> <%= @room.name %></h1>
  <%= render partial: "reactions", locals: {room: @room} %>
</section>

<div class='cols-3'>
  <% @room.topics.each do |topic| %>
    <div class='topic'>
      <h2> <%= topic.name %></h2>

      <%= turbo_frame_tag "new_message", src: new_room_topic_message_path(@room, topic), target: "_top" %>

      <div id="<%= topic.snakecase %>">
        <%= render topic.messages %>
      </div>


    </div>

  <% end %>
</div>