<!DOCTYPE html>
<html>
  <head>
    <title>Retromatic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bubbles_background'>
    <header>
      <h1 class='retro_font'>
        Retro Matic
      </h1>

      <h1 class='diner_font'>
        Retromatic
      </h1>
    </header>

    <nav>
      <div style='background: #DE4B43;'>
        Red
      </div>

      <div style='background: #EEAF00;'>
        Yellow
      </div>

      <div style='background: #ED6A40;'>
        Orange
      </div>

      <div style='background: #53929B;'>
        Blue
      </div>

      <div style='background: #50B6AB;'>
        Green
      </div>

      <div style='background: #724559;'>
        Purple
      </div>

      <div style='background: #B4D3AA;'>
        Light Green
      </div>


      <div style='background: #519D90;'>
        Green
      </div>

      <div style='background: #75ACC0;'>
        Light Blue
      </div>

      <div style='background: #898886;'>
        Gray
      </div>

      <div style='background: #F2D8B3;'>
        Biege
      </div>

    </nav>

    <main>
      <%= yield %>
    </main>


    <footer>

    </footer>
  </body>
</html>
