<!DOCTYPE html>
<html>
  <head>
    <title>Retromatic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <div class="logo_container">
        <%= link_to root_path do %>
          <p class="logo logo_top">Retromatic</p>
          <p class="logo logo_bot">Retromatic</p>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
