<!DOCTYPE html>
<html>
  <head>
    <title>Retromatic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <div class="halo"></div>

      <div class="vintage__container">
        <p class="vintage vintage__top">Retromatic</p>
        <p class="vintage vintage__bot">Retromatic</p>
      </div>
    </header>

<!--    <nav>-->
<!--      Menu goes here-->
<!--    </nav>-->

  <section id='container'>
    <main>
      <%= yield %>
    </main>
  </section>

    <footer>

    </footer>
  </body>
</html>
